html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

div, p, a, span, header, footer, input, textarea, button {
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 16px;
}

h2 {
  font-family: "Abril Fatface";
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

header {
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(181, 154, 207);
  padding-bottom: 20px;
}

.header-inner-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  width: 70px;
  height: 70px;
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
}
.logo-wrapper .img-placeholder {
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(181, 154, 207);
  border-radius: 50%;
}

.greeting p {
  font-family: "Abril Fatface";
  font-size: 24px;
  text-align: center;
}

@media only screen and (min-width: 620px) {
  .header-inner-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .greeting p {
    text-align: left;
  }
}
.top-sections {
  width: 100%;
  display: block;
}

.about {
  position: relative;
}

@media only screen and (min-width: 800px) {
  .top-sections {
    width: 45%;
  }
}
.projects {
  margin-bottom: 40px;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 300px;
  gap: 20px;
}

.project-link {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  justify-content: flex-end;
  align-items: flex-end;
}

.project {
  background-color: rgb(181, 154, 207);
  position: relative;
  border: 4px solid black;
  padding: 5px;
  cursor: pointer;
  background-image: url("../assets/images/1.jpg");
  background-size: cover;
}
.project span {
  position: relative;
  z-index: 10;
  font-weight: bold;
  color: rgb(181, 154, 207);
}

.project:nth-of-type(2) {
  background-image: url("../assets/images/2.jpg");
}

.project:nth-of-type(3) {
  background-image: url("../assets/images/3.jpg");
}

.project:nth-of-type(4) {
  background-image: url("../assets/images/4.jpg");
}

.project:nth-of-type(5) {
  background-image: url("../assets/images/5.jpg");
}

.project:nth-of-type(6) {
  background-image: url("../assets/images/6.jpg");
}

.project:nth-of-type(7) {
  background-image: url("../assets/images/7.jpg");
}

.project:nth-of-type(8) {
  background-image: url("../assets/images/8.jpg");
}

.project:nth-of-type(9) {
  background-image: url("../assets/images/9.jpg");
}

.project::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.7;
  transition: opacity 0.6s;
  pointer-events: none;
}

.project:hover::before {
  opacity: 0;
}

.project:hover > span {
  color: black;
}

@media only screen and (min-width: 650px) {
  .projects-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }
}
@media only screen and (min-width: 800px) {
  .projects-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.contact-form input,
.contact-form label,
.contact-form textarea {
  display: block;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 3px;
}
.contact-form .btn-send {
  background-color: unset;
  border: none;
  position: relative;
  width: 90px;
  font-weight: bold;
  text-align: center;
  z-index: 100;
  cursor: pointer;
}
.contact-form .btn-send::before {
  display: block;
  position: absolute;
  content: "";
  width: 94px;
  height: 15px;
  bottom: 0px;
  left: -2px;
  background-color: rgb(181, 154, 207);
  z-index: -1;
  border-radius: 100px;
  transition: height 0.4s;
}
.contact-form .btn-send:hover::before {
  height: 27px;
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 0.3113620448) 37%, rgba(148, 187, 233, 0.3617822129) 100%);
}

.content-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

main {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: 100px 0;
  }
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    width: 60%;
    max-width: 1300px;
  }
}/*# sourceMappingURL=styles.css.map */