// $base-color: white;
// $accent-color1: rgb(127, 194, 247);

// $bg-light: $base-color;
// $bg-dark: rgb(33, 33, 33);

// font - family colors and sizes
$fs-default: 16px;
$fs-small: 14px;
$fs-medium: 24px;
$fs-large: 30px;
$fs-xl: 42px;

$ff-default: "Montserrat";
$ff-accent: "Abril Fatface";
// $ff-bold: RobotoBold;
// $ff-medium: RobotoMedium;
// $ff-light: RobotoLight;

$fc-lvl1: rgb(255, 255, 255);
$fc-lvl2: rgb(119, 119, 119);
$fc-lvl3: rgb(88, 80, 80);
$fc-lvl4: rgb(0, 0, 0);


// Abril Fatface
// Antic Didone
// Domine:wght@400..700
// Montserrat:ital,wght@0,100..900;1,100..900
// Roboto:wght@300;400;700