@import "reset";
@import "variables";
@import "helpers";
// @import "fonts";
@import "icons";
@import "typography";
@import "header";
@import "about";
@import "contact";
@import "footer";

* {
  box-sizing: border-box;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.3113620448179272) 37%,
    rgba(148, 187, 233, 0.3617822128851541) 100%
  );
}
.content-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}


@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: 100px 0;
    // width: 70%
  }
}
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    width: 60%
  }
}